@{
    ViewBag.Title = "Show Mortgages";
}

<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript"></script>
</head>
<body>
    <div>
   <input type="button" id="btnShowMortgages" value="Get Mortgages"/>
    </div>
</body>
</html>
